modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://rvdfhdkiofwtwgekaerz.supabase.co"
TELEGRAM_BOT_TOKEN = "8974033166:AAEsMc7TcCQTMXaztbtv4_fchuQtml5dTHc"
